<%= simple_form_for(@period_price) do |period_price_form| %>
	<%= period_price_form.input :period_id, :as => :hidden, :input_html => { :value => params[:period_id] } %>
	<%= period_price_form.input :start_timestamp %>
	<%= period_price_form.input :end_timestamp %>	
	<%= period_price_form.input :price %>
	<%= period_price_form.button :submit, "Save" %>
<% end %>
