<div id="dashboard-heading">
<h1 id="dashboard-headline">Dashboard</h1>
<div class="btn btn-info dashboard-action">
<%= link_to "Action 4", "#" %>
</div>
<div class="btn btn-info dashboard-action">
<%= link_to "Action 3", "#" %>
</div>
<div class="btn btn-info dashboard-action">
<%= link_to "Action 2", "#" %>
</div>
<div class="btn btn-success add-dashlet">
<%= link_to "+ Add Dashlet", "#" %>
</div>
</div>
<div class="container">  
	<div class="column">
		<%= render_widget :nursery %>
		<%= render_widget :nursery_group %>	
		<%= render_widget :currency %>	
	</div>
	
	<div class="column">
		<%= render_widget :room %>	
		<%= render_widget :staff_member %>
	</div>
	
	<div class="column">
		<%= render_widget :carer %> 
		<%= render_widget :child %>
	</div> 
				
</div>  
