<%= simple_form_for([@child]) do |child_form| %>
	<%= child_form.input :first_name, label: "First Name" %>
	<%= child_form.input :middle_name, label: "Middle Name" %>
	<%= child_form.input :surname, label: "Surname" %>
	<%= child_form.input :preferred_name, label: "Preferred Name" %>
	<h2>Contact Information</h2>
	<%= child_form.input :date_of_birth, as: :date, start_year: Date.today.year - 10,
                              end_year: Date.today.year %>			
	<%= child_form.simple_fields_for :contact_info do |contact_form| %>
		<%= render 'shared/contact_info', :contact_form => contact_form, :locals => {:contact_info => @contact_info} %>
	<% end %>
	<h2>Nursery Information</h2>
	<%= child_form.association :status_type, label_method: :status_name, value: :id %>
	<%= child_form.association :room, collection: Room.where(:nursery_id => @nursery.id), value: :id %>
	<%= child_form.input :start_date, label: "Start Date" %>	
	<%= child_form.input :leave_date, label: "Est Leave" %>
	<h2>Identifying Information</h2>
	<%= child_form.input :gender_id, collection: ["male", "female"]	%>
	<%= child_form.input :AEN, label: "AEN" %>
	<%= child_form.association :hair, label_method: :color, value: :id %>		
	<%= child_form.association :eye_color, label_method: :shade, value: :id %>
	<%= child_form.association :religion, label_method: :name, value: :id %>
	<%= child_form.association :ethnicity, label_method: :race, value: :id %>
	<%= child_form.association :nationality, label_method: :country, value: :id %>
	<%= child_form.association :language, label_method: :tongue, value: :id %>
	<%= child_form.button :submit, "Save" %>
<% end %>