<% provide(:title, 'Child Details') %>
<h1 class="inline-headline"><%= "#{'Child: '}#{@child.full_name}" %></h1>
<div class="add-button btn btn-primary"><%= link_to "Back to List", children_path %></div>
<br />
<br />
<div class="row">
	<div class="span2">
		<%= render 'shared/level_4_tabs' %>
	</div>
	<div class="span10">
		<div class="tab-content">
			<div class="row">
				<div class="span7"><h2><%= "#{'Child Detail View'}"	%></h2><br /><br />
				<h3><%= "#{@child.full_name}" %></h3>
				</div>	
				<div class="span2">
					<h5>Actions</h5>
					<div class="add-button btn btn-success"><%= link_to "Edit", edit_child_path(@child) %></div><br /><br />
					<div class="add-button btn btn-success"><%= link_to "Add/Change Photo", "#" %></div>					
				</div>
			</div>			
			<div class="row">
				<div class="span6"><%= "#{'Preferred:'}  #{@child.preferred_name}" %></div><br /><br />
			</div>
			<div class="row">
				<div class="span4"><h3><%= "#{'Contact Information'}" %></h3></div><div class="span4"><h3><%= "#{'Nursery Information'}" %></h3></div>
			</div>						
			<div class="row">
				<div class="span4"><%="#{'Date of Birth:'}  #{@child.date_of_birth}" %></div>
			</div>
			<div class="row">
				<div class="span4"><%="#{'Add 1: '}  #{@child.contact_info.address_line_1}" %></div><div class="span4"><%= "#{'Start Date:'}  #{@child.start_date}" %></div><br />
			</div>
			<div class="row">
				<div class="span4"><%="#{'Town: '}  #{@child.contact_info.town}" %></div><div class="span4"><%= "#{'Est. Leave:'}  #{@child.leave_date}" %></div><br />
			</div>
			<div class="row">
				<div class="span4"><%="#{'Post Code: '}  #{@child.contact_info.post_code}" %></div><div class="span4"><%= "#{'Act. Leave:'}  #{'Actual Leave Date goes here'}" %></div><br />
			</div>
			<div class="row">
				<div class="span4"><%="#{'Primary Tel: '}  #{@child.contact_info.telephone_1}" %></div><br />
			</div>	
			<div class="row">
				<div class="span4"><%="#{'Primary Mob: '}  #{@child.contact_info.telephone_2}" %></div><br />
			</div>										
			<div class="row">
				<div class="span6"><h3><%= "#{'Identifying Information'}" %></h3></div><br /><br />
			</div>													
			<div class="row">
				<div class="span4"><%="#{'Gender:'}  #{@child.gender_id}" %></div><br />
			</div>	
			<div class="row">
				<div class="span4"><%="#{'AEN:'}  #{@child.AEN}" %></div><br />
			</div>	
			<div class="row">
				<div class="span4"><%="#{'Hair:'}  #{@child.hair.color}" %></div><br />
			</div>	
			<div class="row">
				<div class="span4"><%="#{'Eyes:'}  #{@child.eye_color.shade}" %></div><br />
			</div>
			<div class="row">
				<div class="span4"><%="#{'Religion:'}  #{@child.religion.name}" %></div><br />
			</div>	
			<div class="row">
				<div class="span4"><%="#{'Ethnicity:'}  #{@child.ethnicity.race}" %></div><br />
			</div>		
			<div class="row">
				<div class="span4"><%="#{'Nationality:'}  #{@child.nationality.country}" %></div><br />
			</div>			
			<div class="row">
				<div class="span4"><%="#{'Language:'}  #{@child.language.tongue}" %></div><br />
			</div>																														
		</div>
	</div>
</div>
