<% provide(:title, 'Nursery Children')%>
<h1 class="inline-headline">Nursery Children</h1>
<div class="add-button btn btn-success"><%= link_to "+ Child", new_child_path %></div>
<br />
<br />
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Room</th>
			<th>Age</th>
			<th>Status</th>
			<th>...</th>
		</tr>
	</thead>
	<tbody>
		<% unless @children.nil? %>
			<% @children.each do |child| %>
				<tr>
					<td><%= child.full_name %></td>
					<td><%= child.room.name %></td>
					<td><%= child.age %></td>
					<td><%= child.status_type.status_name %></td>
					<td><%= link_to '...', child_path(child.id), :title => "View" %>&nbsp;&nbsp;<%= link_to raw('<i class="icon-pencil icon-large"></i>'), edit_child_path(child.id), :title => "Edit" %>&nbsp;&nbsp;<%= link_to raw('<i class="icon-remove-circle icon-large"></i>'), child_path(child.id), :title => "Delete",  method: :delete, data: {confirm: "You sure?"} %></td>
				</tr>
			<% end %>
		<% end %>				
	</tbody>
</table>
