<% provide(:title, 'Child') %>
<h1 class="inline-headline"><%= "#{'Child: '}#{@child.full_name}" %></h1>
<div class="add-button btn btn-primary"><%= link_to "Back to List", children_path %></div>
<br />
<br />
<div class="row">
	<div class="span2">
		<%= render 'shared/level_4_tabs' %>
	</div>
	<div class="span10">
		<div class="tab-content">
			<div class="row">
				<div class="span6"><h2><%= "#{'Child Summary View'}"	%></h2></div><br /><br />
			</div>			
			<div class="row">
				<div class="span6"><h3><%= "#{@child.full_name} #{'('}#{@child.preferred_name}#{')'}"	%></h3></div><br /><br />
			</div>
			<div class="row">
				<div class="span1"><%="#{'Status: '}" %></div><div class="span7"><%= "#{@child.status_type.status_name}" %></div><br />
			</div>
			<div class="row">
				<div class="span1"><%="#{'Account: '}" %></div><div class="span7"><%= "#{'Account number goes here'}" %></div><br />
			</div>
			<div class="row">
				<div class="span1"><%="#{@child.gender_id}" %></div><div class="span7"><%= "#{@child.age} #{@child.age > 1? 'years' : 'year'} #{'('}#{@child.age_in_months} #{'months'}#{')'}" %></div><br /><br />
			</div>			
			<div class="row">
				<div class="span6"><h3>Related Carers</h3></div>
			</div>
			<div class="row">
				<div class="span3"><%="#{'Staff Member full name goes here'}" %></div><div class="span3"><%= "#{'Staff Member role goes here'}" %></div><br /><br />
			</div>	
			<% @child.child_relationships.each do |relationship| %>	
			<div class="row">
				<div class="span3"><%="#{relationship.carer.display_name}" %></div><div class="span3"><%= "#{ relationship.carer.relationship(relationship.carer, @child)}" %></div><div class="span3"><%= "#{relationship.carer.contact_info.telephone_1}" %></div><br /><br />
			</div>
			<% end %>		
				
																			
		</div>
	</div>
</div>
