<%= simple_form_for([@carer]) do |carer_form| %>
	<%= carer_form.input :title, label: "Title" %>
	<%= carer_form.input :first_name, label: "First Name" %>
	<%= carer_form.input :surname, label: "Surname" %>
	<h2>Contact Information</h2>
	<%= carer_form.simple_fields_for :contact_info do |contact_form| %>
		<%= render 'shared/contact_info', :contact_form => contact_form, :locals => {:contact_info => @contact_info} %>
	<% end %>
	<%= carer_form.button :submit, "Save" %>
<% end %>