<% provide(:title, 'Carer Details') %>
<h1 class="inline-headline"><%= "#{'Carer: '}#{@carer.display_name}" %></h1>
<div class="add-button btn btn-primary"><%= link_to "Back to List", carers_path %></div>
<br />
<br />
<div class="row">
	<div class="span2">
		<%= render 'shared/carer_level_4_tabs' %>
	</div>
	<div class="span10">
		<div class="tab-content">
			<div class="row">
				<div class="span6"><h2><%= "#{'Carer Personal Information'}"	%></h2></div><br /><br />
			</div>
			<div class="row">
				<div class="span6"><h3><%= "#{@carer.display_name}"	%></h3></div>
				<div class="span2">
					<h5>Actions</h5>
					<div class="add-button btn btn-success"><%= link_to "Edit", edit_carer_path(@carer) %></div><br /><br />					
				</div>				
			</div>
			<br />
			<div class="row">
				<div class="span2"><%="#{'Mobile Telephone: '}" %></div><div class="span6"><%= "#{@carer.contact_info.nil?? 'No contact info':@carer.contact_info.telephone_2}" %></div><br />
			</div>		
			<br />
			<div class="row">
				<div class="span2"><%="#{'Land line: '}" %></div><div class="span6"><%= "#{@carer.contact_info.nil?? 'No contact info':@carer.contact_info.telephone_1}" %></div><br />
			</div>		
			<br />	
			<div class="row">
				<div class="span2"><%="#{'Email: '}" %></div><div class="span6"><%= "#{@carer.contact_info.nil?? 'No contact info':@carer.contact_info.email_1}" %></div><br />
			</div>	
			<br />	
			<div class="row">
				<div class="span6"><%= "#{@carer.contact_info.nil?? 'No contact info':@carer.contact_info.address_line_1}" %></div><br />
			</div>
			<% unless @carer.contact_info.nil? || @carer.contact_info.address_line_2.empty? || @carer.contact_info.address_line_2.nil? %>
				<div class="row">
					<div class="span6"><%= "#{@carer.contact_info.address_line_2}" %></div><br />
				</div>	
			<% end %>
			<% unless @carer.contact_info.nil? || @carer.contact_info.address_line_3.empty? || @carer.contact_info.address_line_3.nil? %>
				<div class="row">
					<div class="span6"><%= "#{@carer.contact_info.address_line_3}" %></div><br />
				</div>	
			<% end %>
			<div class="row">
				<div class="span6"><%= "#{@carer.contact_info.nil?? 'No contact info':@carer.contact_info.town}" %></div><br />
			</div>	
			<div class="row">
				<div class="span6"><%= "#{@carer.contact_info.nil?? 'No contact info':@carer.contact_info.post_code}" %></div><br />
			</div>																										
		</div>
	</div>			
</div>
