<% provide(:title, 'Carers') %>
<h1 class="inline-headline">Nursery Carers</h1>
<div class="add-button btn btn-success"><%= link_to "+ Carer", new_carer_path %></div>
<br />
<br />
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Primary Telephone</th>
			<th>Accounts</th>
			<th>Relationship</th>
			<th>...</th>
		</tr>
	</thead>
	<tbody>
		<% unless @carers.nil? %>
			<% @carers.each do |carer| %>
				<tr>
					<td><%= carer.display_name %></td>
					<td><%= carer.contact_info.telephone_1 %></td>
					<td><%= carer.accounts.collect { |account| account.account_no}.join(", ") %></td>
					<td><%= carer.display_relations(carer, carer.child_relationships).join(", ") %></td>
					<td><%= link_to '...', carer_path(carer.id), :title => "View" %>&nbsp;&nbsp;<%= link_to raw('<i class="icon-pencil icon-large"></i>'), edit_carer_path(carer.id), :title => "Edit" %>&nbsp;&nbsp;<%= link_to raw('<i class="icon-remove-circle icon-large"></i>'), carer_path(carer.id), :title => "Delete",  method: :delete, data: {confirm: "You sure?"} %></td>					
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>	
