<% provide(:title, 'Carer Relationships') %>
<h1 class="inline-headline"><%= "#{'Carer: '}#{@carer.display_name}" %></h1>
<div class="add-button btn btn-primary"><%= link_to "Back to List", carers_path %></div>
<br />
<br />
<div class="row">
	<div class="span2">
		<%= render 'shared/carer_level_4_tabs' %>
	</div>
	<div class="span10">
		<div class="tab-content">
			<div class="row">
				<div class="span7"><h2><%= "#{'Carer Relationships'}"	%></h2></div><br /><br />
				<div class="span2">
					<h5>Actions</h5>
					<div class="add-button btn btn-success"><%= link_to "Edit", edit_carer_path(@carer) %></div><br /><br />					
					<div class="add-button btn btn-success"><%= link_to "+ Add Child", search_children_carer_path(@carer) %></div><br /><br />
					<div class="add-button btn btn-success"><%= link_to "+ Add Accounts", search_accounts_carer_path(@carer) %></div><br /><br />														
				</div>				
			</div>	
			<div class="row span8">
			<table class="table table-bordered table-striped">	
				<thead>
					<th>Child</th>
					<th>Relationship</th>
					<th>Pick Up</th>
					<th>Drop Off</th>
					<th>Payment</th>
					<th><%= "#{'%'}" %></th>
					<th>...</th>
				</thead>
				<tbody>
					<% @child_relations.each do |related_child| %>
						<tr>	
							<td><%= "#{related_child.child.full_name}" %></td>
							<td><%= "#{@carer.relationship(@carer, related_child.child) }"%></td>
							<td><%=  related_child.pick_up_flag?? raw('<i class="icon-flag icon-large" id="pickup"></i>'):nil %></td>
							<td><%=  related_child.drop_off_flag?? raw('<i class="icon-flag icon-large" id="dropoff"></i>'):nil %></td>
							<td><%= raw('<strong id="payment">&pound</strong>') %>
							<td><%= "#{'100%'}" %></td>
							<td><%= link_to raw('<i class="icon-remove-circle icon-large"></i>'), remove_relationship_carer_path(@carer, :child_id => related_child.child.id), :title => "Delete",  method: :put, data: {confirm: "You sure?"} %></td>
						</tr>				
					<% end %>
				</tbody>
			</table>	
			</div>
		</div>
	</div>			
</div>	