<% provide(:title, 'Add Related Children') %>
<h1 class="inline-headline">Carer Detail</h1>
<div class="add-button btn btn-primary"><%= link_to "Back to List", carers_path %></div>
<br />
<br />
<h2><%= "#{'Add Related Children'}" %></h2><br /><br />

<%= form_tag(search_children_carer_path(@carer), :method => "get") do %>
  <% selections = ['first_name', 'surname'] %>
  <%= select_tag(:field, options_for_select(selections, 'surname')) %>	
  <%= label_tag(:query, "Contains") %>
  <%= text_field_tag(:query) %><br />
  <%= submit_tag("Search") %>
<% end %>

<%= form_tag(add_children_carer_path(@carer), :method => "put") do %>
	<% unless @results.class == String %>	
		<table>	
			<thead>
				<th></th>
				<th>Child's name</th>
				<th>Relationship</th>
				<th>Pick Up?</th>
				<th>Drop Off?</th>
			</thead>
			<tbody>
		  <% @results.each do |child| %>
		  	<tr>
	        <td><%= check_box_tag 'child_ids[]', child.id %></td>
	        <td><%= child.full_name %></td>
	        <td><%= select_tag('child_relationship_type_ids[]', options_for_select(@relationship_types), prompt: "Please select relationship") %></td>
		  	<td><%= select_tag('pick_up_flag[]', options_for_select([true, false]), prompt: "Picks up child?") %></td>
		  	<td><%= select_tag('drop_off_flag[]', options_for_select([true, false]), prompt: "Drops off child?") %></td><br /><br />
		  	</tr>
		  <% end %>	
		  </tbody>
		</table>	  		
	<% else %>
		<%= @results %>
	<% end %>
	<br />
	<br />
	<%= submit_tag("Add Children", :id => 'add_children') %>
<% end %>
