<% provide(:title, "Add Carer Account") %>
<h1 class="inline-headline">Carer Detail</h1>
<div class="add-button btn btn-primary"><%= link_to "Back to List", carers_path %></div>
<br />
<br />
<h2><%= "#{'Add Carer to Account'}" %></h2><br /><br />

<%= form_tag(search_accounts_carer_path(@carer), :method => "get") do %>
  <% selections = ['account_name', 'account_no'] %>
  <%= select_tag(:field, options_for_select(selections, 'account_name')) %>	
  <%= label_tag(:query, "Contains") %>
  <%= text_field_tag(:query) %><br />
  <%= submit_tag("Search") %>
<% end %>

<%= form_tag(assign_accounts_carer_path(@carer), :method => "put") do %>
	<% unless @results.class == String %>	
		<table>	
			<thead>
				<th></th>
				<th>Account Name</th>
				<th>Account Number</th>				
			</thead>
			<tbody>
		  <% @results.each do |account| %>
		  	<tr>
	        <td><%= check_box_tag 'account_ids[]', account.id %></td>
	        <td><%= account.account_name %></td>
	        <td><%= account.account_no %></td><br /><br />
		  	</tr>
		  <% end %>	
		  </tbody>
		</table>	  		
	<% else %>
		<%= @results %>
	<% end %>
	<br />
	<br />
	<%= submit_tag("Assign Accounts", :id => 'assign_accounts') %>
<% end %>
