<% provide(:title, 'Carer') %>
<h1 class="inline-headline"><%= "#{'Carer: '}#{@carer.display_name}" %></h1>
<div class="add-button btn btn-primary"><%= link_to "Back to List", carers_path %></div>
<br />
<br />
<div class="row">
	<div class="span2">
		<%= render 'shared/carer_level_4_tabs' %>
	</div>
	<div class="span10">
		<div class="tab-content">
			<div class="row">
				<div class="span6"><h2><%= "#{'Carer Summary View'}"	%></h2></div><br /><br />
				<div class="span2">
					<div class="add-button btn btn-success"><%= link_to "+ Add Child", search_children_carer_path(@carer) %></div><br /><br />					
					<div class="add-button btn btn-success"><%= link_to "+ Add Accounts", search_accounts_carer_path(@carer) %></div><br /><br />					
				</div>
			</div>			
			<div class="row">
				<div class="span6"><h3><%= "#{@carer.display_name}"	%></h3></div><br /><br />
			</div>	
			<div class="row">
				<div class="span2"><%="#{'Email: '}" %></div><div class="span6"><%= "#{@carer.contact_info.nil?? 'No contact info':@carer.contact_info.email_1}" %></div><br />
			</div>	
			<br />
			<div class="row">
				<div class="span2"><%="#{'Primary Telephone: '}" %></div><div class="span6"><%= "#{@carer.contact_info.nil?? 'No contact info':@carer.contact_info.telephone_1}" %></div><br />
			</div>		
			<br />
			<div class="row">
				<div class="span2"><%="#{'Outstanding Balance: '}" %></div><div class="span6"><%= "#{'This is where the outstanding balance for this carer goes'}" %></div><br />
			</div>	
			<br />
			<div class="row">
				<div class="span2"><%="#{'Children'}" %></div>
			</div>	
			<ul>	
			<% @carer.children.each do |child| %>	
			<div class="row">
				<div class="span6"><li><%= "#{child.full_name}" %></li></div><br />				
			</div>	
			<% end %>
			</ul>		
			<br />	
			<div class="row">
				<div class="span2"><%="#{'Accounts'}" %></div>
			</div>		
			<% @carer.accounts.each do |account| %>	
				<ul>	
				<div class="row">
					<div class="span6"><li><%= "#{account.account_no}" %><%= "#{' - '}#{'Balance for this account goes here'}"%></li></div><br />				
				</div>	
				</ul>			
			<% end %>		
		</div>	
	</div>	
</div>
