<%= simple_form_for([@invoice]) do |f| %>
	<%= f.input :account_id, :as => :hidden, :input_html => { :value => params[:account_id] } %>
	<%= "#{'Account Number: '}  #{@account.account_no}" %><br /><br />
	<%= f.input :carer_id, :as => :hidden, :input_html => { :value => params[:carer_id] } %>	
	<%= "#{'Carer: '} " %><br />
	<%= "#{@carer.display_name}" %><br />
	<%= "#{@carer.contact_info.address_line_1}" %><br />
	<% unless @carer.contact_info.nil? || @carer.contact_info.address_line_2.empty? || @carer.contact_info.address_line_2.nil? %>
		<%= "#{@carer.contact_info.address_line_2}" %><br />
	<% end %>
	<% unless @carer.contact_info.nil? || @carer.contact_info.address_line_3.empty? || @carer.contact_info.address_line_3.nil? %>
		<%= "#{@carer.contact_info.address_line_3}" %><br />	
	<% end %>	
	<%= "#{@carer.contact_info.nil?? 'No contact info':@carer.contact_info.town}" %>
	<%= "#{@carer.contact_info.nil?? 'No contact info':@carer.contact_info.post_code}" %><br /><br />	
	<%= "#{'Billing Period: '} #{@billing_periods[0].strftime("%d/%m/%Y")} #{'to'} #{@billing_periods[1].strftime("%d/%m/%Y")}" %><br /><br />
	<table>
		<thead>
			<th>Description</th>
			<th>Cost</th>
			<th>Total</th>
		</thead>
		<tbody>
			<tr>
				<td><%= "#{@line_item.description}"%></td>
				<td><%= "#{@line_item.cost}" %></td>
				<td><%= "#{@line_item.total_cost} "%></td>
			</tr>
		</tbody>	
		<%= f.input :amount_due %>
	</table>
	<%= f.button :submit, "Save" %>
<% end %>
