<fieldset>
	<% count = 38 %>
	<% period_cost = 18.65 %>
	<% extended_cost = (count * period_cost).round(2) %>
	<%= f.input :account_id, :as => :hidden, :input_html => { :value => params[:account_id] } %>
	<%= f.input :description, :input_html => { :value => "#{count.to_s} #{'Sessions'}"  } %>
	<%= f.input :cost, :input_html => { :value => "#{period_cost}" } %>
	<%= f.input :total_cost, :input_html => { :value => "#{extended_cost}" } %>
	<%= f.hidden_field :_destroy %>
	<%= link_to "Remove Line Item", '#', class: "remove_fields" %>
</fieldset>

