<% provide(:title, 'Invoices List') %>
<h1 class="inline-headline">Invoices List</h1>
<br />
<br />
<div class="row">
	<div class="span10">		
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Invoice Number</th>
					<th>Issue Number</th>
					<th>Invoice Date</th>
					<th>Account Number</th>
					<th>Invoice Amount</th>
					<th>...</th>
				</tr>
			</thead>
			<tbody>
				<% unless @invoices.nil? %>
					<% @invoices.each do |invoice| %>
						<tr id=<%= "#{invoice.id}" %>>
							<td><%= invoice.number.to_s %></td>
							<td><%= invoice.issue.to_s %></td>
							<td><%= invoice.created_at.strftime("%D") %></td>
							<td><%= invoice.account.account_no %></td>
							<td><%= invoice.amount_due.to_s %></td>
							<td><%= link_to '...', invoice_path(invoice.id), :title => "View"%>&nbsp;&nbsp;<%= link_to raw('<i class="icon-pencil icon-large"></i>'), invoice_path(invoice.id), action: :update, method: :put, title: 'Edit' %></td>
						</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
	<div class="span2">
	</div>	
</div>	
