<% provide(:title, 'Invoice Detail') %>
<h1 class="inline-headline">Invoice Detail</h1>
<div class="add-button btn btn-success"><%= link_to "+ Add Line Item", new_invoice_invoice_line_item_path(@invoice) %></div>
<br />
<br />
<div class="row">
	<div class="span2"><%= "#{@invoice.carer.display_name}" %></div><div class="span3"><%= "#{'Invoice No:'}  #{@invoice.number}" %></div><div class="span4"><%= "#{@invoice.nursery.name}" %></div>
</div>
<div class="row">
	<div class="span2"><%= "#{@invoice.carer.contact_info.address_line_1}" %></div><div class="span3"></div><div class="span4"><%= "#{@invoice.nursery.contact_info.address_line_1}" %></div>
	
</div>
<% unless @invoice.carer.contact_info.address_line_2.nil? && @invoice.nursery.contact_info.address_line_2.nil? %>
	<div class="row">
		<div class="span2"><%= "#{@invoice.carer.contact_info.address_line_2}" %></div><div class="span3"></div><div class="span4"><%= "#{@invoice.nursery.contact_info.address_line_2}" %></div>
	</div>
<% end %>
<% unless @invoice.carer.contact_info.address_line_3.nil? && @invoice.nursery.contact_info.address_line_3.nil? %>
	<div class="row">
		<div class="span2"><%= "#{@invoice.carer.contact_info.address_line_3}" %></div><div class="span3"></div><div class="span4"><%= "#{@invoice.nursery.contact_info.address_line_2}" %></div>
	</div>
<% end %>
<div class="row">
	<div class="span2"><%= "#{@invoice.carer.contact_info.town}" %></div><div class="span3"><%= "#{'Invoice Date:'} #{@invoice.updated_at.strftime("%d %B %Y")}" %></div><div class="span4"><%= "#{@invoice.nursery.contact_info.town}" %></div>
</div>
<div class="row">
	<div class="span2"><%= "#{@invoice.carer.contact_info.county}" %></div><div class="span3"></div><div class="span4"><%= "#{@invoice.nursery.contact_info.county}" %></div>
</div>
<div class="row">
	<div class="span2"><%= "#{@invoice.carer.contact_info.post_code}" %></div><div class="span3"><%= "#{'Account No:'}  #{@invoice.account.account_no}"%></div><div class="span4"><%= "#{@invoice.nursery.contact_info.post_code}" %></div>
</div>
<br />
<br />
<div class="row">
	<div class="span3"><%= "#{'Monthly Invoice: '}#{@invoice.billing_period.start_date.strftime('%d/%m/%Y')} #{'to'} #{@invoice.billing_period.end_date.strftime('%d/%m/%Y')}" %></div>
</div>
<br />
<div class="row">
	<div class="span3"><%= "#{'Sessions'}" %></div><div class="span2"><%= "#{'Quantity'}" %></div><div class="span2"><%= "#{'Cost'}" %></div><div class="span2"><%= "#{'Total'}" %></div>
</div>
<br />
<% @children.each do |child| %>
	<div class="row">	
		<div class="span3"><%= "#{Child.find(child).full_name}" %></div>
	</div>	
	<% child_line_items = @line_items.by_child(child) %>
	<% child_line_items.each do |line_item| %>
		<div class="row">
			<div class="span3"><%= line_item.description %></div><div class="span2"><%= line_item.quantity %></div><div class="span2"><%= line_item.cost %></div><div class="span2"><%= line_item.total_cost %></div>
			<% if line_item.editable %>	
				<div class="span2">
					<%= link_to 'Edit', edit_invoice_invoice_line_item_path(@invoice, line_item)%>
				</div>	
			<% end %>
		</div>	
	<% end %>
	<br />
	<br />
<% end %>
<div class="row">
	<div class="span3"><%= @balance_due_item.description %></div><div class="span2"><%= @balance_due_item.quantity %></div><div class="span2"><%= @balance_due_item.cost %></div><div class="span2"><%= @balance_due_item.total_cost %></div>
</div>
<br />
<div class="row">
	<div class="span5"></div><div class="span2">Invoice Amount</div><div class="span2"><%= @invoice.amount_due.to_s %></div>
</div>	
