<%= simple_form_for(@billing_period) do |billing_period_form| %>
	<%=  "#{'Current Billing Period: '}#{@current_billing_period.first.start_date.day.ordinalize} #{@current_billing_period.first.start_date.strftime("%B")} #{'-'} #{@current_billing_period.first.end_date.day.ordinalize} #{@current_billing_period.first.end_date.strftime("%B, %Y")}"%>
	<br />
	<br />
	<%= billing_period_form.input :start_date, label: "Start Date", :default => @billing_period.next_start_date %>
	<%= billing_period_form.input :status, collection: ["open", "closed"] %>
	<%= billing_period_form.button :submit, "Save" %>
<% end %>
