<% provide(:title, 'Billing List View') %>
<h1 class="inline-headline">Billing List View</h1>
<br />
<br />
<div class="row">
	<div class="span10">		
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th> </th>
					<th>Date Range</th>
					<th>Status</th>
					<th># Invoices</th>
					<th>...</th>
				</tr>
			</thead>
			<tbody>
				<% unless @billing_periods.nil? %>
					<% @billing_periods.each do |billing_period| %>
						<tr>
							<td><%= billing_period.id.to_s %></td>
							<td><%= "#{billing_period.start_date.day.ordinalize} #{billing_period.start_date.strftime("%B")} #{'-'} #{billing_period.end_date.day.ordinalize} #{billing_period.end_date.strftime("%B, %Y")}" %></td>
							<td><%= billing_period.status %></td>
							<td><%= link_to "#{billing_period.invoices.count}", invoices_path(billing_period_id: billing_period.id) %></td>
							<td><%= link_to '...', billing_period_path(billing_period), :title => "View" %>&nbsp;&nbsp;<%= link_to raw('<i class="icon-pencil icon-large"></i>'), "#", :title => "Edit" %></td>
						</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>	
	</div>
	<div class="span2">
		<h5>Actions</h5>
		<div class="add-button btn btn-success"><%= link_to "+ Billing Period", new_billing_period_path %></div>
	</div>	
</div>