<% provide(:title, "Billing Period") %>
<h1 class="inline-headline">Billing Period</h1>
<div class="add-button btn btn-info"><%= link_to "Edit", edit_billing_period_path(@billing_period) %></div>
<br />
<br />
<div class="row">
	<div class="span2"><%= "#{'Billing Period Start Date'}" %></div><div class="span6"><%= "#{@billing_period.start_date}"	%></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'Billing Period End Date'}" %></div><div class="span6"><%= "#{@billing_period.end_date}"	%></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'Billing Period Status'}" %></div><div class="span6"><%= "#{@billing_period.status}"	%></div><br /><br />
</div>