<%= widget_div :class => :portlet, :id => "portlet-#{widget_id}" do %>
	<div class="portlet-header">Rooms</div>
	<div class="portlet-content">
		<% @rooms.each do |room| %>
			<%= link_to "#{room.name}", "#" %><br />
		<% end %>
		<br />		
	</div>
<% end %>
