<%= widget_div :class => :portlet, :id => "portlet-#{widget_id}" do %>
	<div class="portlet-header">Carer</div>
	<div class="portlet-content">
		<% @carers.each do |carer| %>
			<%= link_to "#{carer.first_name} #{carer.surname}", "#" %><br />
		<% end %>
		<br />		
	</div>
<% end %>