<%= simple_form_for(@currency) do |currency_form| %>
	<%= currency_form.association :currency_type, collection: CurrencyType.all.map { |currency| currency.currency_name } %>
	<br />
	<br />
	<%= currency_form.button :submit, "Save" %>
<% end %>