<% provide(:title, 'Edit Currency') %>
<h1 class="inline-headline">Edit Currency</h1>
<br />
<br />
<%= simple_form_for(@currency) do |currency_form| %>
	<%= currency_form.association :currency_type, collection: CurrencyType.all.map { |currency| currency.currency_name }, selected: @currency.currency_type.currency_name %>
	<br />
	<br />
	<%= currency_form.button :submit, "Save" %>
<% end %>
