<% provide(:title, 'Nursery Defaults') %>
<h1 class="inline-headline">Defaults</h1>
<% unless @nursery.currency == nil %>
	<div class="add-button btn btn-info"><%= link_to "Edit", edit_currency_path(@currency) %></div>
	<br />
	<br />
	<div class="row">
		<div class="span2"><%= "#{'Nursery Name'}" %></div><div class="span6"><%= "#{@nursery.name}"	%></div><br /><br />
	</div>	
	<div class="row">
		<div class="span2"><%= "#{'Currency Type'}" %></div><div class="span6"><%= "#{@nursery.currency.currency_type.currency_name}" %></div><br /><br />
	</div>
<% else %>
	<div class="add-button btn btn-info"><%= link_to "Add Currency", new_currency_path %></div>
	<br /><br />
	<div class="row">
		<div class="span2"></div><div class="span6">There is no currency set for this nursery!</div>
	</div>
	<br /><br />
	<br /><br />
	<br /><br />
<% end %>
<div class="row">	
	<div class="span2"><%= "#{'Local Authority'}" %></div><div class="span6"><%= link_to "#{@local_authority.name}", local_authorities_path(local_authority: @local_authority)	%></div>
	<br /><br />
</div>