<%= simple_form_for(@term) do |term_form| %>
	<%= term_form.association :local_authority %>
	<%= term_form.input :description %>
	<%= term_form.input :start_date %>
	<%= term_form.input :end_date %>
	<%= term_form.button :submit, "Save" %>
<% end %>
