<% provide(:title, 'Terms') %>
<h1 class="inline-headline">Terms</h1>
<div class="add-button btn btn-success"><%= link_to "+ Term", new_term_path %></div>
<br />
<br />
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Local Authority</th>
			<th>Description</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>...</th>
		</tr>
	</thead>
	<tbody>
		<% @terms.each do |term| %>
			<tr>
				<td><%= term.local_authority.name %></td>
				<td><%= term.description %></td>
				<td><%= term.start_date.to_s %></td>
				<td><%= term.end_date.to_s %></td>
				<td><%= link_to '...', term_path(term.id ), :title => "View" %>&nbsp;&nbsp;<%= link_to raw('<i class="icon-pencil icon-large"></i>'), edit_term_path(term.id), :title => "Edit" %>&nbsp;&nbsp;<%= link_to raw('<i class="icon-remove-circle icon-large"></i>'), term_path(term.id), :title => "Delete",  method: :delete, data: {confirm: "You sure?"} %></td>
			</tr>
		<% end %>				
	</tbody>	
</table>
