<% provide(:title, "Term")	%>
<h1 class="inline-headline">Term</h1>
<div class="add-button btn btn-info"><%= link_to "Edit", edit_term_path(@term) %></div>
<br />
<br />
<div class="row">
	<div class="span2"><%= "#{'Local Authority'}" %></div><div class="span6"><%= "#{@term.local_authority.name}"	%></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'Description'}" %></div><div class="span6"><%= "#{@term.description}"	%></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'Start Date'}" %></div><div class="span6"><%= "#{@term.start_date.strftime("%d %B %Y")}"	%></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'Start Date'}" %></div><div class="span6"><%= "#{@term.end_date.strftime("%d %B %Y")}"	%></div><br /><br />
</div>

