<%= simple_form_for(@period) do |period_form| %>
	<%= period_form.input :period_name, label: "Name"  %>
	<%= period_form.association :rooms %>
	<%= period_form.input :period_start_time, label: "Start Time" %>
	<%= period_form.input :period_end_time, label: "End Time" %>
	<%= period_form.input :days_of_week, collection: @nursery.open_hours.map { |day| day.day_of_week }, as: :check_boxes %><br /><br />
	<%= period_form.input :period_cost, label: "Session Cost" %>	
	<%= period_form.input :period_hourly_cost, label: "Hourly Cost" %>
	<%= period_form.input :fe_limit, label: "Free Entitlement Limit" %>
	<%= period_form.button :submit, "Save" %>
<% end %>