<% provide(:title, 'Nursery Sessions') %>
<h1 class="inline-headline">Session Periods</h1>
<div class="add-button btn btn-success"><%= link_to "+ Session", new_period_path %></div>
<br />
<br />
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Session Name</th>
			<th>Time Range</th>
			<th>Rooms</th>
			<th>Cost: Session</th>
			<th>Cost: Hour</th>
			<th>...</th>
		</tr>
	</thead>
	<tbody>
		<% @periods.each do |period| %>
			<tr>
				<td><%= period.period_name %></td>
				<td><%= "#{period.period_start_time.strftime("%I:%M %P")} #{'-'} #{period.period_end_time.strftime("%I:%M %P")}" %></td>
				<td><% period.rooms.each do |room| %>
					<%= "#{room.name }" %>
					<% end %>
				</td>
				<td><%= period.period_cost %></td>
				<td><%= period.period_hourly_cost %></td>
				<td><%= link_to '...', period_path(period.id ), :title => "View" %>&nbsp;&nbsp;<%= link_to raw('<i class="icon-pencil icon-large"></i>'), edit_period_path(period.id), :title => "Edit" %>&nbsp;&nbsp;<%= link_to raw('<i class="icon-remove-circle icon-large"></i>'), period_path(period.id), :title => "Delete",  method: :delete, data: {confirm: "You sure?"} %></td>
			</tr>
		<% end %>		
	</tbody>	
</table>
