<% provide(:title, 'Session Period') %>
<h1 class="inline-headline">Session Period</h1>
<div class="add-button btn btn-info"><%= link_to "Edit", edit_period_path(@period) %></div>
<br />
<br />
<div class="row">
	<div class="span2"><%= "#{'Period Name'}" %></div><div class="span6"><%= "#{@period.period_name}"	%></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'Time Range'}" %></div><div class="span6"><%= "#{@period.period_start_time.strftime("%I:%M %P")} #{'-'} #{@period.period_end_time.strftime("%I:%M %P")}" %></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'Rooms'}" %></div><div class="span6"><% @period.rooms.each do |room| %>
					<%= "#{room.name }" %>
					<% end %></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'Days of the Week'}" %></div><div class="span6"><%= "#{@period.days_of_week.gsub(/[\n-]/, ' ').gsub(/''/, ' ')}" %></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'Session Cost'}" %></div><div class="span6"><%= "#{@period.period_cost}" %></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'Hourly Cost'}" %></div><div class="span6"><%= "#{@period.period_hourly_cost}" %></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'Free Entitlement Limit'}" %></div><div class="span6"><%= "#{@period.fe_limit}" %></div><br /><br />
</div>