<%= widget_div :class => :portlet, :id => "portlet-#{widget_id}" do %>
	<div class="portlet-header">Monitor</div>
	<div class="portlet-content">
		
		<%= image_tag("images/highchart.png") %>
		<br />		
	</div>	
<% end %>
