<%= widget_div :class => :portlet, :id => "portlet-#{widget_id}" do %>
	<div class="portlet-header">Currency</div>
	<div class="portlet-content">
		<% @currencies.each do |currency| %>
			<%= link_to "#{currency.currency_type}", "#" %><br />
		<% end %>
		<br />	
	</div>
<% end %>
