<%= simple_form_for([@child, @booking]) do |booking_form| %>
	<%= booking_form.association :period, label_method: :period_name, value: :period_id %>
	<%= booking_form.input :start_date, label: "Start Date" %>
	<%= booking_form.input :end_date, label: "End Date" %>
	<%= booking_form.input :days_of_week, collection: @nursery.open_hours.map { |day| day.day_of_week }, as: :check_boxes %><br /><br />
	<h3 class="inline-headline">Repeat Pattern</h3>	
	<%= booking_form.input :every, collection: ["Day", "Week", "Month"] %>
	<%= booking_form.button :submit, "Save" %>
<% end %>