<% provide(:title, 'Bookings') %>
<h1 class="inline-headline"><%= "#{'Child: '}#{@child.full_name}" %></h1>
<div class="add-button btn btn-primary"><%= link_to "Back to List", children_path %></div>
<br />
<br />
<div class="row">
	<div class="span2">
		<%= render 'shared/level_4_tabs' %>
	</div>
	<div class="span10">
		<div class="tab-content">
			<div class="row">
				<div class="span6"><h3><%= "#{'Time and Attendance'}"	%></h3></div><br /><br />
			</div>	
			<div class="row">
				<div class="tabbable span8">
					<ul class="nav nav-tabs top-tabs">
						<li class="active"><%= link_to 'Booking Pattern', child_bookings_path(@child)%></li>
						<li><%= link_to 'Timesheets', child_timesheets_path(@child) %></li>
					</ul>	
					<div class="tab-pane">
						<h3 class="span3">Booking Pattern</h3><div class="span3 date-range"><%= "#{@bow.strftime('%A')} #{@bow.day.ordinalize} #{'to'} #{(@eow-2).strftime('%A')} #{(@eow-2).day.ordinalize} #{@eow.strftime('%B %Y')}" %></div>
						<div class="date-change-button btn"><%= link_to '<', "#", title: 'Previous' %></div>
						<div class="date-change-button btn"><%= link_to '>', "#", title: 'Next'  %></div>
						<div id="this-week-button" class="btn btn-info"><%= link_to 'This Week', "#" %></div>						
						<div class="row">
							<div class="span6">
								<table class="table table-bordered table-striped">
									<thead>
										<th>Day</th>
										<% @nursery.periods.each do |period| %>
											<th><%= period.period_name %></th>
										<% end %>
									</thead>
									<tbody>
										<%  @nursery.open_hours.each do |open_day| %>
											<tr>
												<td>
													<%= open_day.day_of_week %>
												</td>
												<% @nursery.periods.each do |period| %>
													<td><%= "#{'this is where bookings go'}" %></td>
												<% end %>									
											</tr>
										<% end %>
									</tbody>
								</table>
							</div>
							<div class="span2">
								<h5>Actions</h5>
								<div class="add-button btn btn-success"><%= link_to '+Add Session', new_child_booking_path(@child) %></div><br /><br />
								<div class="add-button btn btn-success"><%= link_to '+Add Preset', "#" %></div>
							</div>
						</div>
						<h3 class="span3">Session Plan</h3>	
						<br />
						<br />
						<div class="row">
							<div class="span6">
								<table id='booking_table' class="table table-bordered table-striped">
									<thead>
										<th>Session</th>
										<th>Days</th>
										<th>Repetition</th>
										<th>...</th>
									</thead>
									<tbody>
										<% @bookings.each do |booking| %>
											<tr>
												<td><%= booking.period.period_name %></td>
												<% days = booking.days_of_week.map { |day| "#{booking.abbr_day(day)}#{' '}" }.join %>
												<td><%= days  %></td>
												<td><%= booking.every %></td>
												<td><%= link_to '...', child_booking_path(@child.id, booking.id), :title => "View" %>&nbsp;&nbsp;<%= link_to raw('<i class="icon-pencil icon-large"></i>'), edit_child_booking_path(@child, booking.id), :title => "Edit" %>&nbsp;&nbsp;<%= link_to raw('<i class="icon-remove-circle icon-large"></i>'), child_booking_path(@child, booking.id), :title => "Delete",  method: :delete, data: {confirm: "You sure?"} %></td>								
											</tr>
										<% end%>
									</tbody>
								</table>
							</div>
						</div>	
					</div>
				</div>
			</div>
						
		</div>
	</div>		
</div>
