<% provide(:title, 'Booking Pattern' )%>
<h3 class="inline-headline">Booking Pattern - session plan</h3>
<div class="add-button btn btn-info"><%= link_to "Edit", edit_child_booking_path(@child, @booking) %></div>
<br />
<br />
<div class="row">
	<div class="span2"><%= "#{'Period Name'}" %></div><div class="span6"><%= "#{@booking.period.period_name}"	%></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'Start Date'}" %></div><div class="span6"><%= "#{@booking.start_date.strftime('%d-%m-%Y')}"	%></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'End Date'}" %></div><div class="span6"><%= "#{@booking.end_date.strftime('%d-%m-%Y')}"	%></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'Days'}" %></div><div class="span6"><%= @booking.days_of_week.map { |day| "#{@booking.abbr_day(day)}#{' '}" }.join %></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'Repetition'}" %></div><div class="span6"><%= @booking.every %></div><br /><br />
</div>