<%= widget_div :class => :portlet, :id => "portlet-#{widget_id}" do %>
	<div class="portlet-header">Nursery</div>
	<div class="portlet-content">
		<% @nurseries.each do |nursery| %>
			<%= link_to "#{nursery.name}", "#" %><br />
		<% end %>
		<br />		
	</div>	
<% end %>
