<% @menu_items =  [["Summary", account_path(@account)], ["Related Children", related_children_account_path(@account)], ["Related Carers", related_carers_account_path(@account)]] %>
<% x = (0..2).to_a %>
<div class="tabbable tabs-left">
	<ul class="nav nav-tabs">
		<% x.each_with_index do |x| %>
			<li class=<%= 'active' if @menu_items[x][0] == @sidetab %>><a href=<%= @menu_items[x][1] %>><%= @menu_items[x][0] %></a> </li>
		<% end %>						
	</ul>
</div>	