<% @menu_items =  [["Summary", carer_path(@carer)], ["Personal Information", detail_carer_path(@carer)], ["Relationships", relationships_carer_path(@carer)], ["Bank Information", "#"], ["Regular Payments", "#"], ["Invoices", invoices_path(carer_id: @carer.id)], ["Payments Paid", "#"]] %>
<% x = (0..6).to_a %>
<div class="tabbable tabs-left">
	<ul class="nav nav-tabs">
		<% x.each_with_index do |x| %>
			<li class=<%= 'active' if @menu_items[x][0] == @sidetab %>><a href=<%= @menu_items[x][1] %>><%= @menu_items[x][0] %></a> </li>
		<% end %>						
	</ul>
</div>	