<%= contact_form.input :address_line_1, label: "Address 1" %>
<%= contact_form.input :address_line_2, label: "Address 2" %>
<%= contact_form.input :address_line_3, label: "Address 3" %>
<%= contact_form.input :town %>
<%= contact_form.input :county %>
<%= contact_form.input :post_code %>
<%= contact_form.input :telephone_1, label: "Primary Telephone" %>
<%= contact_form.input :email_1, label: "Primary Email" %>