<% if !alert.nil? || !notice.nil? %>
	<div id="error_explanation">
		<% if !notice.nil? %>
			<p class="notice alert-success"><%= notice %></p>
		<% else %>
			<p class="alert alert-error"><%= alert %></p>	
		<% end %>		
	</div>	
<% end %>
