<% @menu_items =  [["Summary", child_path(@child)], ["Personal", detail_child_path(@child)], ["Time & Attendance", child_bookings_path(@child)], ["Learning Journey", "#"], ["Finance", "#"], ["Notes", "#"]] %>
<% x = (0..5).to_a %>
<div class="tabbable tabs-left">
	<ul class="nav nav-tabs">
		<% x.each_with_index do |x| %>
			<li class=<%= 'active' if @menu_items[x][0] == @sidetab %>><a href=<%= @menu_items[x][1] %>><%= @menu_items[x][0] %></a> </li>
		<% end %>						
	</ul>
</div>	