<%= widget_div :class => :portlet, :id => "portlet-#{widget_id}" do %>
	<div class="portlet-header">Staff Members</div>
	<div class="portlet-content">
		<% @staff_members.each do |staff_member| %>
			<%= link_to "#{staff_member.first_name} #{staff_member.surname}", "#" %><br />
		<% end %>
		<br />	
	</div>
	
<% end %>
