<%= widget_div :class => :portlet, :id => "portlet-#{widget_id}" do %>
	<div class="portlet-header">Child</div>
	<div class="portlet-content">
		<% @children.each do |child| %>
			<%= link_to "#{child.first_name} #{child.surname}", "#" %><br />
		<% end %>
		<br />
	</div>
<% end %>

