<%= simple_form_for([@child, @timesheet]) do |timesheet_form| %>
	<%= timesheet_form.association :period, label_method: :period_name, value: :period_id %>
	<%= timesheet_form.input :date_attended, label: "Start Date" %>
	<% duration_collection = (0..40).to_a.map { |n| [n * 0.25, (n * 0.25).hours.to_i] } %>
	<%= timesheet_form.input :duration, collection: duration_collection %>
	<%= timesheet_form.button :submit, "Save" %>
<% end %>