<% provide(:title, 'Timesheets')%>
<h1 class="inline-headline"><%= "#{'Child: '}#{@child.full_name}" %></h1>
<div class="add-button btn btn-primary"><%= link_to "Back to List", children_path %></div>
<br />
<br />
<div class="row">
	<div class="span2">
		<%= render 'shared/level_4_tabs' %>
	</div>
	<div class="span10">
		<div class="tab-content">
			<div class="row">
				<div class="span6"><h3><%= "#{'Time and Attendance'}"	%></h3></div><br /><br />
			</div>	
			<div class="row">
				<div class="tabbable span8">
					<ul class="nav nav-tabs top-tabs">
						<li><%= link_to 'Booking Pattern', child_bookings_path(@child)%></li>
						<li class="active"><%= link_to 'Timesheets', child_timesheets_path(@child) %></li>
					</ul>		
					<div class="tab-pane">
						<h3 class="span3">Timesheets</h3>
						<div class="span3 date-range"><%= "#{@bow.strftime('%A')} #{@bow.day.ordinalize} #{'to'} #{(@eow-2).strftime('%A')} #{(@eow-2).day.ordinalize} #{@eow.strftime('%B %Y')}" %></div>
						<div class="date-change-button btn"><%= link_to '<', "#", title: 'Previous' %></div>
						<div class="date-change-button btn"><%= link_to '>', "#", title: 'Next'  %></div>
						<div id="this-week-button" class="btn btn-info"><%= link_to 'This Week', "#" %></div>
						<div class="row">
							<div class="span6">
								<table class="table table-bordered table-striped">
									<thead>
										<th>Session</th>	
										<% @dates_this_week.each do |open_day| %>
											<th><%= open_day.strftime("%A") %></th>
										<% end %>																			
									</thead>
									<tbody>
										<% @nursery.periods.each do |period| %>
											<tr>
												<td><%= period.period_name %></td>
												<% @dates_this_week.each do |open_date| %>
													<% period_timesheets = @timesheets.by_period(period).by_date(open_date) %>
													<% unless period_timesheets.empty? %>
														<td><%= link_to "#{period_timesheets.first.duration_hours(period_timesheets.first.duration)}", edit_child_timesheet_path(@child, period_timesheets.first) %></td>
													<% else %>
														<td><%= link_to 0.to_s, new_child_timesheet_path(@child) %></td>
													<% end %>
												<% end %>												
											</tr>	
										<% end %>
										<tr>
											<td><%= "#{'Totals'}" %></td>
												<% @dates_this_week.each do |open_date| %>
													<% daily_timesheets = @timesheets.by_date(open_date) %>
													<% unless daily_timesheets.empty? %>
														<% totals_per_day = daily_timesheets.map { |daily_timesheet| daily_timesheet.duration_hours(daily_timesheet.duration) } %>
														<td><%= "#{totals_per_day.sum}" %></td>
													<% else %>
														<td><%= 0 %></td>
													<% end %>

												<% end %>											
										</tr>
									</tbody>	
								</table>
								<% weekly_timesheets = @timesheets.by_week(@dates_this_week.first, @dates_this_week.last)%>
								<% totals_this_week = weekly_timesheets.map { |weekly_timesheet| weekly_timesheet.duration_hours(weekly_timesheet.duration) } %>								
								<%= "#{'Total for the week: '}#{totals_this_week.sum} #{'hours'}"  %>									
							</div>								
						</div>													
					</div>
				</div>		
			</div>	
		</div>
	</div>		
</div>
