<%= simple_form_for([@invoice, @invoice_line_item]) do |invoice_line_item_form| %>
	<%= invoice_line_item_form.input :child_id, collection: @invoice.carer.children.map { |child| [child.first_name, child.id] }, value: :child_id %>
	<%= invoice_line_item_form.input :description, label: "Description" %>
	<%= invoice_line_item_form.input :quantity, label: "Quantity" %>
	<%= invoice_line_item_form.input :cost, label: "Item Cost" %>		
	<%= invoice_line_item_form.button :submit, "Save" %>
<% end %>