<%= widget_div :class => :portlet, :id => "portlet-#{widget_id}" do %>
	<div class="portlet-header">Nursery Group</div>
	<div class="portlet-content">
		<% @nursery_groups.each do |nursery_group| %>
			<%= link_to "#{nursery_group.name}", "#" %><br />
		<% end %>
		<br />
	</div>
<% end %>
