<%= simple_form_for(@local_authority) do |local_authority_form| %>
	<%= local_authority_form.input :name, label: "Local Authority Name" %>
	<%= local_authority_form.simple_fields_for :contact_info do |contact_form| %>
		<%= render 'shared/contact_info', :contact_form => contact_form %>
	<% end %>
	<%= local_authority_form.button :submit, "Save" %>
<% end %>