<% provide(:title, 'Local Authorities') %>
<h1 class="inline-headline">Local Authorities</h1>
<div class="add-button btn btn-success"><%= link_to "+ Local Authority", new_local_authority_path %></div>
<br />
<br />
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Terms</th>	
			<th>...</th>
		</tr>
	</thead>
	<tbody>
		<% unless @local_authorities.nil? %>
			<% @local_authorities.each do |local_authority| %>
				<tr>
					<td><%= local_authority.name %></td>
					<td><%= link_to 'Terms', terms_path(local_authority: local_authority)%>
					<td><%= link_to '...', local_authority_path(local_authority.id), :title => "View" %>&nbsp;&nbsp;<%= link_to raw('<i class="icon-pencil icon-large"></i>'), edit_local_authority_path(local_authority.id), :title => "Edit" %>&nbsp;&nbsp;<%= link_to raw('<i class="icon-remove-circle icon-large"></i>'), local_authority_path(local_authority.id), :title => "Delete",  method: :delete, data: {confirm: "You sure?"} %></td>
				</tr>
			<% end %>
		<% end %>				
	</tbody>
</table>
