<% provide(:title, 'Local Authority') %>
<h1 class="inline-headline">Local Authority</h1>
<div class="add-button btn btn-info"><%= link_to "Edit", edit_local_authority_path(@local_authority) %></div>
<br />
<br />
<div class="row">
	<div class="span2"><%= "#{'Local Authority Name'}" %></div><div class="span6"><%= "#{@local_authority.name}"	%></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'Address 1'}" %></div><div class="span6"><%= "#{@local_authority.contact_info.address_line_1}" %></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'Address 2'}" %></div><div class="span6"><%= "#{@local_authority.contact_info.address_line_2}" %></div><br /><br />
</div>
<% unless @local_authority.contact_info.address_line_3.nil? %>
<div class="row">
	<div class="span2"><%= "#{'Address 3'}" %></div><div class="span6"><%= "#{@local_authority.contact_info.address_line_3}" %></div><br /><br />
</div>
<% end %>
<div class="row">
	<div class="span2"><%= "#{'Town'}" %></div><div class="span6"><%= "#{@local_authority.contact_info.town}" %></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'County'}" %></div><div class="span6"><%= "#{@local_authority.contact_info.county}" %></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'Post code'}" %></div><div class="span6"><%= "#{@local_authority.contact_info.post_code}" %></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'Primary Telephone'}" %></div><div class="span6"><%= "#{@local_authority.contact_info.telephone_1}" %></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'Primary Email'}" %></div><div class="span6"><%= " #{@local_authority.contact_info.email_1}" %></div><br />
</div>
<br />
<br />
