<%= simple_form_for(@nursery) do |nursery_form| %>
	<%= nursery_form.input :name, label: "Nursery Name" %>
	<%= nursery_form.association :region %>
	<%= nursery_form.association :local_authority %>
	<%= nursery_form.input :billing_cycle_start_day, label: "Billing Cycle Start Day" %>
	<%= nursery_form.simple_fields_for :contact_info do |contact_form| %>
		<%= render 'shared/contact_info', :contact_form => contact_form %>
	<% end %>
	<%= nursery_form.button :submit, "Save" %>
<% end %>
