<% provide(:title, 'Nursery List') %>
<h1 class="inline-headline">Our Nurseries</h1>
<div class="add-button btn btn-success"><%= link_to "+ Add Nursery", new_nursery_path %></div>
<br />
<br />
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Nursery Name</th>
			<th>Region</th>
			<th>Town</th>
			<th>Postcode</th>
			<th>...</th>
		</tr>
	</thead>
	<tbody>
		<% @nurseries.each do |nursery| %>
			<tr>
				<td><%= nursery.name %></td>
				<td><%= nursery.region.name %></td>
				<td><%= nursery.contact_info.town %></td>
				<td><%= nursery.contact_info.post_code %></td>
				<td><%= link_to '...', nursery_path(nursery.id), :title => "View" %>&nbsp;&nbsp;<%= link_to raw('<i class="icon-pencil icon-large"></i>'), edit_nursery_path(nursery.id), :title => "Edit" %></td>				
			</tr>

		<% end %>		
	</tbody>	
</table>
<p>

</p>
