<% provide(:title, 'Nursery Contact Info')%>
<h1 class="inline-headline">Contact Information</h1>
<div class="add-button btn btn-info"><%= link_to "Edit", edit_nursery_path(@nursery) %></div>
<br />
<br />
<div class="row">
	<div class="span2"><%= "#{'Nursery Name'}" %></div><div class="span6"><%= "#{@nursery.name}"	%></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'Address 1'}" %></div><div class="span6"><%= "#{@nursery.contact_info.address_line_1}" %></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'Address 2'}" %></div><div class="span6"><%= "#{@nursery.contact_info.address_line_2}" %></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'Address 3'}" %></div><div class="span6"><%= "#{@nursery.contact_info.address_line_3}" %></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'Town'}" %></div><div class="span6"><%= "#{@nursery.contact_info.town}" %></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'County'}" %></div><div class="span6"><%= "#{@nursery.contact_info.county}" %></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'Post code'}" %></div><div class="span6"><%= "#{@nursery.contact_info.post_code}" %></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'Primary Telephone'}" %></div><div class="span6"><%= "#{@nursery.contact_info.telephone_1}" %></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'Primary Email'}" %></div><div class="span6"><%= " #{@nursery.contact_info.email_1}" %></div><br />
</div>
<br />
<br />
