<%= simple_form_for(@room) do |room_form| %>
	<%= room_form.input :name, label: "Room Name" %>
	<%= room_form.input :capacity, label: "Room Capacity" %>
	<%= room_form.input :age_from, label: "From Age" %>
	<%= room_form.input :age_to, label: "To Age" %>
	<%= room_form.button :submit, "Save" %>
<% end %>