<% provide(:title, 'Nursery Rooms') %>
<h1 class="inline-headline">Rooms</h1>
<div class="add-button btn btn-success"><%= link_to "+ Room", new_room_path %></div>
<br />
<br />
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Room Name</th>
			<th>Capacity</th>
			<th>Age Start</th>
			<th>Age End</th>
			<th>...</th>
		</tr>
	</thead>
	<tbody>
		<% @rooms.each do |room| %>
			<tr>
				<td><%= room.name %></td>
				<td><%= room.capacity %></td>
				<td><%= room.age_from %></td>
				<td><%= room.age_to %></td>
				<td><%= link_to '...', room_path(room), :title => "View" %>&nbsp;&nbsp;<%= link_to raw('<i class="icon-pencil icon-large"></i>'), edit_room_path(room), :title => "Edit" %>&nbsp;&nbsp;<%= link_to raw('<i class="icon-remove-circle icon-large"></i>'), room_path(room), :title => "Delete",  method: :delete, data: {confirm: "You sure?"} %></td>				
			</tr>

		<% end %>		
	</tbody>	
</table>