<div id="dashboard-heading">
<h1 id="dashboard-headline">Dashboard</h1>
<div class="btn btn-info dashboard-action">
<%= link_to "Action 4", "#" %>
</div>
<div class="btn btn-info dashboard-action">
<%= link_to "Action 3", "#" %>
</div>
<div class="btn btn-info dashboard-action">
<%= link_to "Action 2", "#" %>
</div>
<div class="btn btn-success add-dashlet">
<%= link_to "+ Add Dashlet", "#", :id => "menu2" %>
</div>
</div>
  <div id="window_dialog" class="hidden">
     <form>
    <fieldset>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" />
        <label for="email">Email</label>
        <input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all" />
        <label for="password">Password</label>
        <input type="password" name="password" id="password" value="" class="text ui-widget-content ui-corner-all" />
    </fieldset>
    </form>
  </div>
<div class="container">  
	<div class="column1">
		<% @dashlets.each do |dashlet| %>
			<% if dashlet[1] == 1 %>		
				<%= render_widget dashlet[0].to_sym %>
			<% end %>	
		<% end %>
	</div>
	
	<div class="column2">
		<% @dashlets.each do |dashlet| %>
			<% if dashlet[1] == 2 %>		
				<%= render_widget dashlet[0].to_sym %>
			<% end %>	
		<% end %>
	</div>
	
	<div class="column3">
		<% @dashlets.each do |dashlet| %>
			<% if dashlet[1] == 3 %>		
				<%= render_widget dashlet[0].to_sym %>
			<% end %>	
		<% end %>
	</div> 
				
</div>  
