<%= simple_form_for(@preset) do |preset_form| %>
	<%= preset_form.input :preset_name, label: "Name"  %>
	<%= preset_form.association :periods, label_method: :period_name, value: :period_id %>
	<%= preset_form.button :submit, "Save" %>
<% end %>	