<% provide(:title, 'Presets') %>
<h1 class="inline-headline">Presets</h1>
<div class="add-button btn btn-success"><%= link_to "+ Preset", new_preset_path %></div>
<br />
<br />
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Preset Name</th>
			<th>...</th>			
		</tr>
		</thead>
	<tbody>
		<% @presets.each do |preset| %>
			<tr>
				<td><%= preset.preset_name %></td>
				<td><%= link_to '...', preset_path(preset.id ), :title => "View" %>&nbsp;&nbsp;<%= link_to raw('<i class="icon-pencil icon-large"></i>'), edit_preset_path(preset.id), :title => "Edit" %>&nbsp;&nbsp;<%= link_to raw('<i class="icon-remove-circle icon-large"></i>'), preset_path(preset.id), :title => "Delete",  method: :delete, data: {confirm: "You sure?"} %></td>				
			</tr>
		<% end %>		
	</tbody>	
</table>
					
