<% provide(:title, 'Preset') %>
<h1 class="inline-headline">Preset</h1>
<div class="add-button btn btn-info"><%= link_to "Edit", edit_preset_path(@preset) %></div>
<br />
<br />
<div class="row">
	<div class="span2"><%= "#{'Preset Name'}" %></div><div class="span6"><%= "#{@preset.preset_name}"	%></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'Periods'}" %></div><div class="span6"><%= "#{@preset.periods.pluck(:period_name).join(', ')}" %></div><br /><br />
</div>
