<% provide(:title, "Attendance Discounts") %>
<%= simple_form_for(@discount) do |discount_form| %>
	<%= discount_form.input :name, label: "Name" %>
	<%= discount_form.input :amount %>
	<%= discount_form.input :discount_type, collection: ["Fixed", "Percent"] %>
	<%= discount_form.input :discountable_id, collection: @periods, label_method: :period_name, value: :id %>
	<%= discount_form.input :discountable_type, :as => :hidden, :input_html => { :value => "Period" } %>
	<%= discount_form.input :start_date %>
	<%= discount_form.input :end_date %>
	<%= discount_form.input :applies_to, collection: ["Session", "Whole Invoice"]%>
	<%= discount_form.button :submit, "Save" %>
<% end %>
