<%= simple_form_for(@discount) do |discount_form| %>
	<%= discount_form.input :name, label: "Name" %>
	<%= discount_form.input :discount_type, collection: [["Attendance Based Discount", "attendance"], ["Relationship Based Discount", "relationship"]] %>
	<div id="update_container">
	<% if @discount_type == "attendance" %>
		<%= render :partial => @discount.to_partial_path("attendance") %>
	<% else %>	
		<%= render :partial => @discount.to_partial_path("relationship") %>
	<% end %>
	</div>
<% end %>

