<% provide(:title, "Edit ") %>
<% if params[:partial] == "attendance" %>
	<h1 class="inline-headline">Edit Attendance Discount</h1>
	<br />
	<br />
<% else %>
	<h1 class="inline-headline">Edit Relationship Discount</h1>
	<br />
	<br />
<% end %>	
<%= render params[:partial] %>