<% provide(:title, 'Discounts') %>
<h1 class= "inline-headline">Discounts</h1>
<div class="add-button btn btn-success"><%= link_to "+ Attendance Discount", new_discount_path(partial: "attendance") %></div>
<br />
<div class="add-button btn btn-success"><%= link_to "+ Relationship Discount", new_discount_path(partial: "relationship") %></div>
<br />
<br />
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Type</th>
			<th>Applies To</th>
			<th>Percentage or Fixed</th>
			<th>Value</th>
			<th>...</th>
		</tr>
	</thead>
	<tbody>
		<% @discounts.each do |discount| %>
			<tr>
				<td><%= discount.name %></td>
				<td><%= "#{discount.discountable_type == "Period"? "Attendance":"Relationship"}" %></td>
				<% if discount.discountable_type == "Period" %>				
					<td><%= "#{discount.discountable.period_name} #{'Period'}" %></td>
				<% else %>
					<td><%= "#{discount.discountable.account_name} #{'Account'}" %></td>
				<% end %>
				<td><%= discount.discount_type %></td>
				<td><%= discount.amount %></td>
				<td><%= link_to '...', discount_path(discount), :title => "View" %>&nbsp;&nbsp;<%= link_to raw('<i class="icon-pencil icon-large"></i>'), edit_discount_path(discount, partial: discount.discountable_type == "Period"? "attendance":"relationship"), :title => "Edit" %>&nbsp;&nbsp;<%= link_to raw('<i class="icon-remove-circle icon-large"></i>'), discount_path(discount), :title => "Delete",  method: :delete, data: {confirm: "You sure?"} %></td></td>
			</tr>	
		<% end %>
	</tbody>
</table>	
