<% provide(:title, "Add ") %>
<% if params[:partial] == "attendance" %>
	<h1 class="inline-headline">Add Attendance Discount</h1>
	<br />
	<br />
<% else %>
	<h1 class="inline-headline">Add Relationship Discount</h1>
	<br />
	<br />
<% end %>		
<%= render params[:partial] %>

