<% provide(:title, 'Discount') %>
<h1 class="inline-headline">Discount</h1>
<div class="add-button btn btn-info"><%= link_to "Edit", edit_discount_path(@discount, partial: "attendance") %></div>
<br />
<br />
<div class="row">
	<div class="span2"><%= "#{'Discount Name'}" %></div><div class="span6"><%= "#{@discount.name}" %></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'Amount'}" %></div><div class="span6"><%= "#{@discount.amount}" %></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'Percent or Fixed'}" %></div><div class="span6"><%= "#{@discount.discount_type}" %></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'Type'}" %></div><div class="span6"><%= "#{@discount.discountable_type == "Period"? "Attendance":"Relationship"}" %></div><br /><br />
</div>
<% if @discount.discountable_type == "Period" %>
	<div class="row">
		<div class="span2"><%= "#{'For'}" %></div><div class="span6"><%= "#{@discount.discountable.period_name} #{'Period'}" %></div><br /><br />
	</div>	
<% else %>
	<div class="row">
		<div class="span2"><%= "#{'For'}" %></div><div class="span6"><%= "#{@discount.discountable.account_name} #{'Account'}" %></div><br /><br />
	</div>	
<% end %>
<div class="row">
	<div class="span2"><%= "#{'Start Date'}" %></div><div class="span6"><%= "#{@discount.start_date}" %></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'End Date'}" %></div><div class="span6"><%= "#{@discount.end_date}" %></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'Applies To'}" %></div><div class="span6"><%= "#{@discount.applies_to}" %></div><br /><br />
</div
