<% if @open_days.include?("Sunday") %>
	<div class="open-hours-button btn btn-success"><%= link_to "S", open_hour_path(@open_hours[@open_days.index("Sunday")].id), :title => "Delete",  method: :delete, data: {confirm: "You sure?"} %></div>
<% else %>
	<div class="no-open-hours-button btn"><%= link_to "S", new_open_hour_url(params.merge(:day_of_week =>"Sunday")) %></div>
<% end %>
<% if @open_days.include?("Monday") %>
	<div class="open-hours-button btn btn-success"><%= link_to "M", open_hour_path(@open_hours[@open_days.index("Monday")].id), :title => "Delete",  method: :delete, data: {confirm: "You sure?"} %></div>
<% else %>
	<div class="no-open-hours-button btn"><%= link_to "M", new_open_hour_url(params.merge(:day_of_week =>"Monday")) %></div>
<% end %>
<% if @open_days.include?("Tuesday") %>
	<div class="open-hours-button btn btn-success"><%= link_to "T", open_hour_path(@open_hours[@open_days.index("Tuesday")].id), :title => "Delete",  method: :delete, data: {confirm: "You sure?"} %></div>
<% else %>
	<div class="no-open-hours-button btn"><%= link_to "T", new_open_hour_url(params.merge(:day_of_week =>"Tuesday")) %></div>
<% end %>
<% if @open_days.include?("Wednesday") %>
	<div class="open-hours-button btn btn-success"><%= link_to "W", open_hour_path(@open_hours[@open_days.index("Wednesday")].id), :title => "Delete",  method: :delete, data: {confirm: "You sure?"} %></div>
<% else %>
	<div class="no-open-hours-button btn"><%= link_to "W", new_open_hour_url(params.merge(:day_of_week =>"Wednesday")) %></div>
<% end %>
<% if @open_days.include?("Thursday") %>
	<div class="open-hours-button btn btn-success"><%= link_to "T", open_hour_path(@open_hours[@open_days.index("Thursday")].id), :title => "Delete",  method: :delete, data: {confirm: "You sure?"} %></div>
<% else %>
	<div class="no-open-hours-button btn"><%= link_to "T", new_open_hour_url(params.merge(:day_of_week =>"Thursday")) %></div>
<% end %>
<% if @open_days.include?("Friday") %>
	<div class="open-hours-button btn btn-success"><%= link_to "F", open_hour_path(@open_hours[@open_days.index("Friday")].id), :title => "Delete",  method: :delete, data: {confirm: "You sure?"} %></div>
<% else %>
	<div class="no-open-hours-button btn"><%= link_to "F", new_open_hour_url(params.merge(:day_of_week =>"Friday")) %></div>
<% end %>
<% if @open_days.include?("Saturday") %>
	<div class="open-hours-button btn btn-success"><%= link_to "S", open_hour_path(@open_hours[@open_days.index("Saturday")].id), :title => "Delete",  method: :delete, data: {confirm: "You sure?"} %></div>
<% else %>
	<div class="no-open-hours-button btn"><%= link_to "S", new_open_hour_url(params.merge(:day_of_week =>"Saturday")) %></div>
<% end %>