<%= simple_form_for(@open_hours) do |open_hour_form| %>
	<%= open_hour_form.input :day_of_week, collection: ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"], :selected => (params[:day_of_week])  %>
	<%= open_hour_form.input :open_time, label: "Open Time" %>
	<%= open_hour_form.input :close_time, label: "Close Time" %>
	<%= open_hour_form.button :submit, "Save" %>
<% end %>