<% provide(:title, 'Nursery Opening Times') %>
<h1 class="inline-headline">Opening Times</h1>
<br />
<br />
<br />
<h3 class="inline-headline">General Opening Times</h3>
<br />
<br />
Opening Days
<%= render 'open_buttons' %>
<br />
<br />
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Day</th>
			<th>Time Range</th>
			<th>...</th>
		</tr>
	</thead>
	<tbody>
		<% @open_hours.each do |open_hour| %>
			<tr>
				<td><%= open_hour.day_of_week %></td>
				<td><%= "#{open_hour.open_time.strftime("%I:%M %P")} #{'-'} #{open_hour.close_time.strftime("%I:%M %P")}" %></td>
				<td><%= link_to '...', open_hour_path(open_hour.id ), :title => "View" %>&nbsp;&nbsp;<%= link_to raw('<i class="icon-pencil icon-large"></i>'), edit_open_hour_path(open_hour.id, params.merge(:day_of_week => open_hour.day_of_week)), :title => "Edit" %></td>				
			</tr>
		<% end %>		
	</tbody>		
</table>