<% provide(:title, 'Nursery Open Hours') %>
<h1 class="inline-headline">Nursery Open Hours</h1>
<div class="add-button btn btn-info"><%= link_to "Edit", edit_open_hour_path(@open_hours, params.merge(:day_of_week => @open_hours.day_of_week)) %></div>
<br />
<br />
<div class="row">
	<div class="span2"><%= "#{'Day'}" %></div><div class="span6"><%= "#{@open_hours.day_of_week}"	%></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'Open Time'}" %></div><div class="span6"><%= "#{@open_hours.open_time.strftime("%I:%M %P")}" %></div><br /><br />
</div>
<div class="row">
	<div class="span2"><%= "#{'Close Time'}" %></div><div class="span6"><%= "#{@open_hours.close_time.strftime("%I:%M %P")}" %></div><br /><br />
</div>
