  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <div class="nav-collapse">
		<% if user_signed_in? %>
		  <% username = current_user.username %>
		  <% who = "< #{username} >" %>		 		  
		  <ul class="nav pull-right account_links">
			  <li><%= link_to who, "#" %></strong></li>		  	
			  <li><%= link_to 'Profile', edit_user_registration_path %></li> 
			  <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li><br />
			  <li><%= collection_select(:nursery, :name, Nursery.all, :id, :name, width: "300px")%></li> 		  
		  </ul>
		<% end %> 
        </div>
        <%= link_to image_tag('OSN_new.gif', alt: "custom logo", class: "custom_logo"), href: "#" %> 
		<%= link_to image_tag('Kindsy_Logo_300x150_Trans.png', alt: "Kindsy", class: "kindsy_logo"), href: "#" %></a>      	    
      </div>
    </div>
  </div>
