<% @submenu_items = [] %>
<% @menu_items =  ["Home", "Enquiry", "Children", "Staff", "Recruitment", "Finance", "Clients", "Campaigns", "Nursery Settings", "Group Settings"] %>
<% @submenu_items << [["Dashboard", dashboards_path], ["Register", "#"], ["Diary", "#"], ["Reports", "#"], ["Auditing", "#"], ["Website News", "#"], ["Newsletters", "#"], ["Documents", "#"], ["Complaints", "#"]] %>
<% @submenu_items << [["Dashboard", dashboards_path], ["Enquiries List", "#"], ["Reports", "#"]] %>
<% @submenu_items << [["Children", children_path], ["Accounts", accounts_path], ["Accidents", "#"], ["Carers", carers_path]] %>
<% @submenu_items << [["List", "#"]] %>
<% @submenu_items << [["Dashboard", dashboards_path], ["Jobs List", "#"], ["Generic Questions", "#"], ["Applicants List", "#"]] %>
<% @submenu_items << [["Billing Cycle", billing_periods_path], ["Dashboard", dashboards_path], ["Products", "#"], ["Suppliers", "#"], ["Voucher Tracking", "#"], ["Reports", "#"]] %>
<% @submenu_items << [["Dashboard", dashboards_path], ["Client List", "#"], ["Contacts", "#"], ["Children", "#"]] %>
<% @submenu_items << [["Dashboard", dashboards_path], ["Campaigns List", "#"]] %>
<% @submenu_items << [["Contact Information", nursery_path(2)],["Key Staff", "#"], ["Sessions", periods_path], ["Openings & Holidays", open_hours_path],["Defaults", currencies_path],["Products", "#"], ["Discounts", "#"], ["Shifts", "#"],  ["Rooms", rooms_path], ["Schools", "#"], ["Nursery Details", "#"], ["Emails", "#"]] %>
<% @submenu_items << [["Nurseries List", nurseries_path], ["Regions", "#"], ["Products", "#"], ["Dashlets", "#"], ["Group Config", "#"], ["Local Authorities", local_authorities_path]] %>
<% x = (0..9).to_a %>
<% if user_signed_in?%>
	<div class="tabbable">
		<ul class="nav nav-tabs top-tabs">
			<% x.each_with_index do |x| %>
				<% tab_number = "#{'#tab'}#{x+1}" %>
				<li class=<%= 'active' if @menu_items[x] == @top_tab %>><a href=<%= @submenu_items[x][0][1] %>><%= @menu_items[x] %></a> </li>
			<% end %>
		</ul>
		<div class="tab-content">
			<% x.each do |x| %>
				<% id_value = "#{'tab'}#{x+1}" %>
		        <div class="<%= id_value == @bottom_menu? 'tab-pane active':'tab-pane' %>" id=<%= "#{id_value}" %>>
		                <ul class="nav nav-tabs">
		                		<% n = 0 %>
		                        <% @submenu_items[x].each do |subitem| %>
		                        	<% n = n+1 %>
		                        	<li class=<%= n == @bottom_tab? 'active':"" %>><%= link_to subitem[0], subitem[1] %></li>
		                        <% end %>
		                </ul>
			        </div>
		    <% end %> 
		</div>
	</div>	
<% end %>
