<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->  
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
</head>
<body>
  <%= render 'layouts/header' %>
  <%= render 'layouts/tabs' %>	
  <div class="container">	
	<%= render '/shared/error_messages' %>
	<%= yield %>
	<%= debug(params) if Rails.env.development? %>	
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
