<%= simple_form_for(@account) do |account_form| %>
	<%= account_form.input :account_name, label: "Account Name" %>
	<%= account_form.input :account_no, label: "Account Number" %>
	<%= account_form.input :sage_account_reference, label: "Sage Account Reference" %>
	<%= account_form.button :submit, "Save" %>
<% end %>
