<% provide(:title, 'Nursery Accounts')%>
<h1 class="inline-headline">Nursery Accounts</h1>
<div class="add-button btn btn-success"><%= link_to "+ Add Account", new_account_path %></div>
<br />
<br />
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Account Name</th>
			<th>Account Number</th>
			<th>Count of Related Children</th>
			<th>Status</th>
			<th>...</th>
		</tr>
	</thead>
	<tbody>
		<% @accounts.each do |account| %>
			<tr>
				<td><%= account.account_name %></td>
				<td><%= account.account_no %></td>
				<td><%= account.children.count.to_s %></td>
				<td><%= "#{'Account status goes here'}" %></td>
				<td><%= link_to '...', account_path(account), :title => "View" %>&nbsp;&nbsp;<%= link_to raw('<i class="icon-pencil icon-large"></i>'), edit_account_path(account), :title => "Edit" %>&nbsp;&nbsp;<%= link_to raw('<i class="icon-remove-circle icon-large"></i>'), account_path(account.id), :title => "Delete",  method: :delete, data: {confirm: "You sure?"} %></td>				
			</tr>

		<% end %>
	</tbody>
</table>
