<% provide(:title, 'Related Carers') %>
<h1 class="inline-headline">Account Detail</h1>
<div class="add-button btn btn-primary"><%= link_to "Back to List", accounts_path %></div>
<br />
<br />
<div class="row">
	<div class="span2">
		<%= render 'shared/account_level_4_tabs' %>
	</div>
	<div class="span10">
		<div class="row">
			<div class="span7">
				<h2><%= "#{'Related Carers'}" %></h2><br /><br />
			<table class="table table-bordered table-striped">	
				<thead>
					<th>Carer Name</th>
					<th>Relations</th>
					<th>Account Balance</th>
					<th>...</th>
				</thead>
				<tbody>			
				
				<% @account.carers.each do |carer| %>	
					<tr>
						<td>
							<%= "#{carer.display_name}" %>
						</td>
						<td>
							<%= "#{carer.display_relations(carer, carer.child_relationships).join(", ")}" %>
						</td>
						<td>
							<%= "#{'Account balance goes here'}" %>
						</td>
						<td>
							<%= link_to "Create Invoice", invoices_path(account_id: @account.id, carer_id: carer.id), action: :create, method: :post %>&nbsp;&nbsp;<%= link_to raw('<i class="icon-remove-circle icon-large"></i>'), remove_carer_account_path(@account, :carer_id => carer.id), :title => "Delete", :method => :put, data: {confirm: "Are you sure you want to remove this relationship?"} %>
						</td>
					</tr>
				<% end %>		
				</tbody>	
			</table>
			</div>
			<div class="span2">
				<h5>Actions</h5>
				<div class="add-button btn btn-success"><%= link_to "Edit", edit_account_path(@account) %></div><br /><br />
				<div class="add-button btn btn-success"><%= link_to "+ Add Child", search_children_account_path(@account) %></div><br /><br />
				<div class="add-button btn btn-success"><%= link_to "+ Add Carer", search_carers_account_path(@account) %></div>						
			</div>
		</div>
	</div>
</div>	