<% provide(:title, 'Related Children') %>
<h1 class="inline-headline">Account Detail</h1>
<div class="add-button btn btn-primary"><%= link_to "Back to List", accounts_path %></div>
<br />
<br />
<div class="row">
	<div class="span2">
		<%= render 'shared/account_level_4_tabs' %>
	</div>
	<div class="span10">
		<div class="row">
			<div class="span7">
				<h2><%= "#{'Related Children'}" %></h2>
			<table class="table table-bordered table-striped">	
				<thead>
					<th>Child Name</th>
					<th>Age</th>
					<th>...</th>
				</thead>	
				<tbody>				
				<% @account.children.each do |child| %>	
					<tr>
						<td>				
							<%= "#{child.full_name}" %>
						</td>	
						<td>						
							<%= "#{child.age} #{child.age >1? 'years':'year'}" %><%= "#{'('}#{child.age_in_months} #{child.age_in_months > 1? 'months':'month'}#{')'}" %>
						</td>
						<td>
							<%= link_to raw('<i class="icon-remove-circle icon-large"></i>'), remove_child_account_path(@account, :child_id => child.id), :title => "Delete", :method => :put, data: {confirm: "Are you sure you want to remove this relationship?"} %> 
						</td>
					</tr>	
					<br />
				<% end %>	
				</tbody>
				</table>
			</div>
			<div class="span2">
				<h5>Actions</h5>
				<div class="add-button btn btn-success"><%= link_to "Edit", edit_account_path(@account) %></div><br /><br />
				<div class="add-button btn btn-success"><%= link_to "+ Add Child", search_children_account_path(@account) %></div><br /><br />
				<div class="add-button btn btn-success"><%= link_to "+ Add Carer", search_carers_account_path(@account) %></div>						
			</div>
		</div>
	</div>	
</div>
