<% provide(:title, 'Add Related Children') %>
<h1 class="inline-headline">Account Detail</h1>
<div class="add-button btn btn-primary"><%= link_to "Back to List", accounts_path %></div>
<br />
<br />
<h2><%= "#{'Add Related Children'}" %></h2><br /><br />

<%= form_tag(search_children_account_path(@account), :method => "get") do %>
  <% selections = ['first_name', 'surname'] %>
  <%= select_tag(:field, options_for_select(selections, 'surname')) %>	
  <%= label_tag(:query, "Contains") %>
  <%= text_field_tag(:query) %><br />
  <%= submit_tag("Search") %>
<% end %>

<%= form_tag(add_children_account_path(@account), :method => "put") do %>
	<% unless @results.class == String %>		
		  <% @results.each do |child| %>
	        <%= check_box_tag 'child_ids[]', child.id %>
	        <%= child.full_name %><br />
		  <% end %>			
	<% else %>
		<%= @results %>
	<% end %>
	<br />
	<br />
	<%= submit_tag("Add Children", :id => 'add_children') %>
<% end %>




