<% provide(:title, 'Account Summary') %>
<h1 class="inline-headline">Account Summary</h1>
<div class="add-button btn btn-primary"><%= link_to "Back to List", accounts_path %></div>
<br />
<br />
<div class="row">
	<div class="span2">
		<%= render 'shared/account_level_4_tabs' %>
	</div>
	<div class="span10">
		<div class="tab-content">
			<div class="row">
				<div class="span7">
					<div class="row">
						<div class="span6"><%= "#{'Account Name:'} #{@account.account_name}" %></div>
					</div>
					<div class="row">
						<div class="span6"><%= "#{'Account Number:'} #{@account.account_no}" %></div>
					</div>	
					<div class="row">
						<div class="span6"><%= "#{'Sage Reference:'} #{@account.sage_account_reference}" %></div>
					</div>
					<div class="row">
						<div class="span6"><%= "#{'Account Balance:'} #{'This is where the calculated account balance goes'}" %></div>
					</div>														
				</div>
				<div class="span2">
					<h5>Actions</h5>
					<div class="add-button btn btn-success"><%= link_to "Edit", edit_account_path(@account) %></div><br /><br />
					<div class="add-button btn btn-success"><%= link_to "+ Add Child", search_children_account_path(@account) %></div><br /><br />
					<div class="add-button btn btn-success"><%= link_to "+ Add Carer", search_carers_account_path(@account) %></div>															
				</div>	
			</div>
		</div>
	</div>
</div>	